 Ignore .env file containing sensitive data
.env
# Ignore other unnecessary files
*.pyc
*.pyo
__pycache__
*.db
*.sqlite

# Ignore virtual environments
venv/
@@ -13,4 +19,14 @@ venv/
.vscode/
.idea/
#ignore the docker aws json
Dockerrun.aws.json
 starlight
 static-site 
 tutorial
 .firebaserc
 LICENSE
 nodemon.json
 package-lock.json
 package.json
 READ.md